[project]
name = "mcp-server"
version = "0.1.0"
description = "Add your description here"
requires-python = ">=3.13"
dependencies = [
    "dataparser>=0.0.2",
    "dotenv>=0.9.9",
    "fastmcp>=2.14.1",
    "loguru>=0.7.3",
]
